<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Blog Project</title>
  <meta name="description" content="The Blog Project for Web Development">
  <meta name="author" content="Maltsev M.,Samoylenko I.">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
 </head>
<body>
  <div id="menu_header_background">
    <div id="menu">
      <ul>
        %menu%
      </ul>
    </div>
    <div id="header">
      <h1>Enter some text</h1>
    <h2>(it will be converted to uppercase)</h2>
    <form action="/get_text" method="POST">
    	<input type="text" name="title" placeholder="Введите заголовок">
        <input type="text" name="message" placeholder="Введите текст">
        <input type="submit" name="my-form" value="Send">
    </form>
    </div>
  </div>
  %messages_content%
</body>
</html>